.terraform/
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Provider lock file (optional — keep if collaborating)
.terraform.lock.hcl

# Local environment settings
.terraformrc
terraform.rc